[submodule "themes/uilite"]
	path = themes/uilite
	url = git@github.com:5queezer/hugo-uilite.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = git@github.com:5queezer/5queezer.github.io.git
	branch = master
[submodule "themes/documentation"]
	path = themes/documentation
	url = git@github.com:themefisher/dot-hugo-documentation-theme.git
